#navigation {
    background-color: #efb730;
}
/*#text-logo {*/
/*    color: white;*/

/*}*/
#logo {
    font-size: 3rem;
    color: #f2f4ef;
    font-weight: 200;
}

#logo:visited {
    color: #f2f4ef;
}

#logo:hover {
    color: #f2f4ef;
}

#logo span {
    color: #030305;
    font-size: 4rem;
    font-weight: normal;

}

.nav-link {
    font-size: 1.15rem;
}

.nav-link:active, .nav-link:visited, .nav-link:link {
    color: #030305;
}

.nav-link:hover{
    color: #f2f4ef;
}

@media only screen and (max-width: 600px) {
    #logo span {
        font-size: 22pt;

    }

    #logo {
        font-size: 18pt;
        font-weight: 200;
    }

    .nav-link {
        font-size: 1.15rem;
    }

    .nav-link:active, .nav-link:visited, .nav-link:link {
        color: #030305;
    }

    .nav-link:hover {
        color: #f2f4ef;
    }
}

/*.bg-dark, .navbar-dark{*/
/*    background-color: #030305;*/
/*    color: #f2f4ef;*/
/* }*/