body {
    background-color: #f2f4ef;
    color: #030305;
}

.section-header {
    text-align: center;
    font-weight: bold;
}

.post-hero {
    position: relative;
    top: -75px;
}

.last-post {
    position: static;
    margin-top: -75px;
}

.repo-link:link, .repo-link:visited, .repo-link:focus {
    color: white;
}

.bottom-menu {
    background-color: #030305;
    border-bottom: #f2f4ef solid thin;
    color: #f2f4ef;
}

.copyright {
    background-color: #030305;
    color: #f2f4ef;
    text-align: center;
}


@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
