.logo-small {
    color: #f2f4ef;
    font-size: 22pt;
}

.logo-small span {
    color: #efb730;
    font-size: 28pt;
}

.foot-menu-section {

}

.foot-menu-subheader {
    font-size: 22pt;
    line-height: 1.9;
    border-bottom: #f2f4ef solid thin;
}




